*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --skyBlue:#45aaf2;
    --blue: #2d98da;
    --green: #55efc4;
    --aqua: #00cec9;
    --purple: #6c5ce7;
    --pink: #fd79a8;
    --ligthGreen: #55efc4;
    --red: #d63031;
}

/*   Home Section  */
.home {
    height: 100vh;
    width: 100%;
    
}

.home .items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-weight: 300;
}

.home .items .name {
    font-weight: 400;
    background: rgba(85,239,196,.8);
    font-size: 40px;
}
.home .items .description {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
    display: flex;
    margin: 10px 0;
}
.home .items .description .color1 {
    background: rgba(116,185,255,.5);
    margin-right: 2px;
}
.home .items .description .color2 {
    background: rgba(250,177,160,.5);
    margin-left: 2px;
}
.home .items .btns {
    height: auto;
}

.home .items .btns a{
    background: var(--skyBlue);
    color: #fff;
    padding: 1px 20px;
    text-transform: uppercase;
    text-decoration: none;
}


.home .animatedArea{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -3;
}
.home .animatedArea li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    opacity: .8;
    animation: animate 15s linear infinite;
    bottom: -100px;
}
.home .animatedArea li:nth-child(1){
    background: var(--aqua);
    left: 86%;
    width: 80px;
    height: 80px;
}
.home .animatedArea li:nth-child(2){
    background: var(--purple);
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.home .animatedArea li:nth-child(3){
    background: var(--pink);
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
    animation-duration: 10s;
}
.home .animatedArea li:nth-child(4){
    background: var(--skyBlue);
    left: 20%;
    width: 150px;
    height: 150px;
    animation-duration: 10s;
    animation-delay: 0s;
}
.home .animatedArea li:nth-child(5){
    background: var(--ligthGreen);
    left: 86%;
    width: 80px;
    height: 80px;
}
.home .animatedArea li:nth-child(6){
    background: var(--pink);
    left: 15%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
}
.home .animatedArea li:nth-child(7){
    background: var(--red);
    left: 50%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}
.home .animatedArea li:nth-child(8){
    background: var(--aqua);
    left: 16%;
    width: 30px;
    height: 30px;
    animation-delay: 5s;
}
.home .animatedArea li:nth-child(9){
    background: var(--red);
    left: 76%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
}

.home .animatedArea li:nth-child(10){
    background: var(--aqua);
    left: 26%;
    width: 20px;
    height: 20px;
    animation-delay: 2.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(0deg);
        opacity: 0;
    }

}

@keyframes btnAnimation{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}

/* End Home section*/



















