:root{
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;  
    --border-color: #201f1f17;  
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color:  0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
   

    /* font family variables. */ 
    --spartan: 'Spartan', sans-serif;
} 

/* General settings */
@import url('https://fonts.googleapis.com/css?family=Spartan:400,500,700&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

a {
    color: #000;
    text-decoration: none;
}

.container{
    
}

/*Navbar*/
header nav {
    display: flex;
    justify-content: space-between;
    padding: 2vh 25vh;
    font-family: var(--spartan);
}

header nav .title {
    text-transform: uppercase;
    font-size: 20px;
    color: var(--primary-color);
}
header nav .sections a{
    padding: 0 1em;
}
header nav .sections a:hover{
    color: var(--primary-color2);
}









