@import url('https://fonts.googleapis.com/css?family=Spartan:400,500,700&display=swap');
:root{
    /* Colors */
    --primaryColor: #6C63FF;
    /* font family variables. */ 
    --font: 'Roboto', sans-serif;;
} 

/* General settings */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
}

body{
    font-family: var(--font);
}
.container{
    width: 80%;
    margin: auto;
}

.btn {
    width: 100px;
    border-radius: 10px;
    padding: 10px 20px;
}

/*Navbar*/
header nav {
    display: flex;
    justify-content: space-between;
    padding: 2vh 25vh;
}

header nav .title {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
}

header nav .sections a{
    padding: 0 1em;
}

header nav .sections a:hover{
    color: ;
}



/*Body*/

/* Introduce my self */
.home {
    margin: 20vh 0;
}
.home .container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.home .container .name{
    margin: auto;
}
.home .container .name .bar{
    width: 100%;
    font-size: 50px;
}

.home .container .name .title {
    font-size: 50px;
}
.home .container .name .btns {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.home .container .name .btns .btn1{
    background: var(--primaryColor);
    color: #fff;
    text-align: center;
    transition: .2s;
    border: 1px solid var(--primaryColor);
}
.home .container .name .btns .btn1:hover {
    background: #fff;
    color: var(--primaryColor)
}
.home .container .name .btns .btn2{
    color: var(--primaryColor);
    text-align: center;
    transition: .2s;
    border: 1px solid var(--primaryColor);
}
.home .container .name .btns .btn2:hover{
    background: var(--primaryColor);
    color: #fff;
}
.home .container .image img {
    width: 100%;
    margin: auto;
}


/*About me*/










